body {
  width: 350px;
  min-height: 300px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.search-container {
  margin-bottom: 10px;
}

#tabList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 90%;
  overflow-y: auto;
}

#tabList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

#tabList li > .close-btn {
  float: right;
  vertical-align: middle;
  justify-content: center;
}

#tabList li:hover {
  background-color: #e0e0e0;
}

#tabList li.selected {
  background-color: lightblue;
}

.tab-title {
  font-weight: bold;
}

.tab-info {
  color: #666;
  font-size: 0.9em;
}
