body {
  width: 350px;
  min-height: 300px;
  padding: 0px;
  margin: 0px;
  font-family: Arial, sans-serif;
}

.search-container {
  padding: 5px;
  margin: 10px 0px 10px 0px;
}

#magnifying-glass {
  width: 22px;
  height: 22px;
  padding: 0px 5px;
  vertical-align: middle;
  justify-content: center;
}

#search-input {
  width: 270px;
  padding: 5px;
}

#tab-list {
  list-style: none;
  padding: 0px;
  margin: 5px 0px;
  overflow-y: auto;
}

#tab-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  margin: 0px;
  background-color: #fff;
  transition: background-color 0.3s;
}

#tab-list li > .close-btn {
  float: right;
  vertical-align: middle;
  justify-content: center;
  padding: 5px;
}

#tab-list li > .close-btn:hover {
  background-color: #b7b7b7;
}

#tab-list li:hover {
  background-color: #e0e0e0;
}

#tab-list li.selected {
  background-color: lightblue;
}

.li-img {
  margin-left: 0px;
}

.tab-title {
  font-weight: bold;
  max-width: 285px;
}

.tab-info {
  color: #666;
  font-size: 0.9em;
  margin-top: 2px;
}

.li-item {
  width: 90%;
  padding: 0px 0px 0px 10px;
}